

#option{
    margin-top: 10px;
}
#question-body{
 width: 100%;
 height: 200px;
 justify-content: center;
}
#question{
  text-align: center;
}
#question-text-container{
    margin: auto;
    width: 100%;
    padding-top: 20px;
}
#question-box{
    margin: 10px;
    height: 200px;
    width: 100%;
    justify-content: center;
    z-index: 0;
}

#container{
    border-width: 20px;
    border-color: black;
    height: 90vh;
}

#question-section{
    height: 45%;
    z-index: 0;
}

#option-section{
    height: 45%; 
    justify-content: center;
}


#feedback{
    color: teal;
    text-align: center;
}

#next-section{
    justify-content: center;
}

#next-row{
    width: 100%;
    justify-self: center;
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
}
#next{
    max-width: 350px;
    align-self: flex-end;
}

