<div *ngIf="selectedCategory" class="container">

  <h2>{{selectedCategory.title}}</h2>

  <!--Progress bar-->
  <app-progress-bar progress="{{progress}}"></app-progress-bar>

  <br />

  <div id="quizz-list">
    <div class="row" style="width: 100%;">

      <!-- Quiz items -->
      <div *ngFor='let q of quizzes' class="col-lg-6">
        <div [routerLink]="['/quiz', q.id ]" href="#" id="quiz-item"
          class="list-group-item list-group-item-action"
          [ngClass]="q.completed? 'bg-success':'bg-warning' "
          >

          <h4 class="card-text">{{q.name}} </h4>

          
          <p *ngIf="q.completed" class="card-text">
            <fa-icon [icon]="icons[1]" style="color: black;" class="far"> </fa-icon>
            Completed!
          </p>

          <p *ngIf="!q.completed" class="card-text">
            Try out!
          </p>

        </div>
      </div>

    </div>
  </div>




</div>

<app-spinner
*ngIf="!selectedCategory"
></app-spinner>